/* styling for MixedMessages project */
body {
  background-color: green;
  color: antiquewhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

blockquote {
  font-style: italic;
}

button {
  margin: 1em 0;
}

footer {
  padding-top: 1em;
  width: 100%;
}
